/* style.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(180deg, #66b5ff, #bf8dfc);
    overflow: hidden;
}

#preload-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000; /* Black background */
    color: #fff; /* White text */
    font-size: 24px;
    text-align: center;
}

#overlay {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

#loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000507, #330633);
    color: #fff;
}

#loading-image {
    height: 60%; /* Adjust size as needed */
    margin-bottom: 20px;
}

#loading-text {
    font-size: 18px;
    margin: 0;
    text-align: center;
}

#pac-text {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

#mp-text {
    font-size: 12px;
    margin: 0;
    text-align: center;
}

#loading-bar-container {
    width: 60%;
    height: 20px;
    background: #444;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

#loading-bar {
    width: 0;
    height: 100%;
    background: #a0a;
    transition: width 12s linear;
}

#start-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#game-container {
    display: none;
    width: 100%;
    height: 100%;
}
